html
    head
        title FORM Data
    body
        h1 Welcome!
            table(border='1px solid',style='border-collapse:collapse;color:blue;')
                tr
                    th Name
                    th Email
                    th Course
                tr
                    td #{name}
                    td #{email}
                    td #{course}
