html 
body 
    h3(style='color:red') upload your cv
    form(action="/upload" method="post" enctype="multipart/form-data")
        input(type="file" name="lju")
        input(type="submit" value="upload")
